
h1{
 text-align: center;
}
.descr{
    padding: 20px 9px 18px 18px;
    text-align: justify;
}
.subtitle{
    text-align: center;
}
.statement__groups__sql{
    margin-top: 8px;
    margin-bottom: 5px;
    padding: 9px;
    border: 1px solid #2F4F4F;
    border-radius: 9px;
}